**/.DS_Store

**/*.ipynb_checkpoints/

**/*.ppt*
**/*.doc*

records/
submissions/**/unmarked/
submissions/**/checker/
syllabus/

materials/**/_*.ipynb
materials/**/_*
materials/**/_*.*
materials/**/*-contrib*/
