**/.DS_Store

**/*.ipynb_checkpoints/

**/*.ppt*
**/*.doc*

records/
submissions/**/unchecked/
submissions/**/unmarked/
syllabus/

materials/**/_*.ipynb
materials/**/_*
materials/**/_*.*
materials/**/*-contrib*/
